@import 'reset';

section {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

	&:nth-of-type(1) {
		background: hotpink;
	}
	&:nth-of-type(2) {
		background: lightblue;
	}
	&:nth-of-type(3) {
		background: lightgreen;
	}
	&:nth-of-type(4) {
		background: lightcoral;
	}
}

ul {
	position: fixed;
	top: 50%;
	right: 5vw;
	transform: translateY(-50%);
	li {
		width: 10px;
		height: 10px;
		border-radius: 7px;
		background: #fff;
		cursor: pointer;
		transition: 0.5s;
		margin: 20px 0;
		&.on {
			height: 80px;
			background: #111;
		}
	}
}
